.input{
    font-size: 20px;
}
.b{
    font-size: 20px;
    margin: 5px;
    color: crimson;
    background-color: aquamarine;
}
.div{
    font-size: 20px;
    color: crimson;
}
h1{
    color: crimson;
}